---
// Animated background orbs using the site's primary, accent, and secondary colors
---

<div aria-hidden="true" class="pointer-events-none fixed inset-0 z-0 overflow-hidden">
  <div
    class="orb"
    style="
      width: 70vw;
      height: 70vw;
      top: -20%;
      left: -20%;
      background: radial-gradient(circle, rgba(124, 199, 232, 0.4) 0%, transparent 70%);
      animation-delay: 0s;
    "
  ></div>
  <div
    class="orb"
    style="
      width: 60vw;
      height: 60vw;
      top: -10%;
      right: -20%;
      background: radial-gradient(circle, rgba(255, 250, 205, 0.35) 0%, transparent 70%);
      animation-delay: -7s;
    "
  ></div>
  <div
    class="orb"
    style="
      width: 50vw;
      height: 50vw;
      bottom: -15%;
      left: -10%;
      background: radial-gradient(circle, rgba(93, 194, 181, 0.3) 0%, transparent 70%);
      animation-delay: -14s;
    "
  ></div>
</div>
